.review-card{
    background:#fff;

    border:2px solid transparent;

    border-radius:24px;

    padding:30px;

    box-shadow:0 12px 30px rgba(0,0,0,.08);

    transition:all .35s ease;

    height:100%;

    display:flex;
    flex-direction:column;
    margin-top:50px ;
    margin-bottom: 30px;
}

.review-card:hover{
   transform:translateY(-8px);

    border-color:var(--primary-color);

    box-shadow:
        0 20px 45px rgba(0,0,0,.12),
        0 0 0 4px rgba(255,107,0,.08);


}

/* ===== Stars ===== */

.review-rating{

    display:flex;

    gap:6px;

    color:#FDBB2D;

    font-size:18px;

    margin-bottom:20px;

}

/* ===== Review ===== */

.review-text{

    color:var(--text-secondary);

    line-height:1.8;

    font-size:15px;

    margin-bottom:28px;

    flex:1;

}

/* ===== Product ===== */

.review-product{

    display:flex;

    align-items:center;

    gap:15px;

    padding:18px 0;

    border-top:1px solid var(--border);

    border-bottom:1px solid var(--border);

}

.review-product img{

    width:72px;

    height:72px;

    object-fit:contain;

    border-radius:16px;

    background:#fafafa;

}

.review-product h4{

    margin-bottom:8px;

    font-size:16px;

}

.review-product button{

    background:none;

    color:var(--primary-color);

    font-weight:600;

    font-size:14px;

    cursor:pointer;

}

/* ===== User ===== */

.review-user{

    display:flex;

    align-items:center;

    gap:15px;

    margin-top:22px;

}

.review-user img{

    width:54px;

    height:54px;

    border-radius:50%;

    object-fit:cover;

}

.review-user h5{

    font-size:16px;

    margin-bottom:4px;

}

.review-user span{

    display:flex;

    align-items:center;

    gap:6px;

    color:var(--success);

    font-size:13px;

    font-weight:600;

}