.product-card{

position:relative;

background:white;

border-radius:20px;

padding:25px;

overflow:hidden;

transition:.35s;

box-shadow:0 10px 25px rgba(0,0,0,.06);

display:flex;

flex-direction:column;

align-items:center;

}

.product-card:hover{

transform:translateY(-10px);

box-shadow:0 25px 45px rgba(0,0,0,.15);

}

.image{

 height:260px;
    display:flex;
    align-items:center;
    justify-content:center;

}

.image img{

width:auto;
    max-width:100%;
    max-height:230px;
    object-fit:contain;

}



.badge{

position:absolute;

top:18px;

left:18px;

background:#FF6B00;

color:white;

padding:6px 12px;

border-radius:50px;

font-size:.8rem;

font-weight:600;

}

.discount{

position:absolute;

top:18px;

right:18px;

background:#111;

color:white;

padding:6px 10px;

border-radius:50px;

font-size:.8rem;

}

.favorite{

position:absolute;

right:20px;

bottom:90px;

width:42px;

height:42px;

border:none;

border-radius:50%;

background:#f3f3f3;

cursor:pointer;

transition:.3s;
opacity: 0;
margin-left: 70px;
transform:scale(.8);

}

.product-card:hover .favorite{

opacity:1;

transform:scale(1);

}

.favorite:hover{

background:#FF6B00;

color:white;

}

.category{

color:#FF6B00;

font-size:.9rem;

font-weight:600;

margin-bottom:8px;

}

.product-card h3{

font-size:1.2rem;

margin-bottom:10px;

text-align:center;

}

.rating{

display:flex;

gap:4px;

color:#FDBB2D;

margin-bottom:15px;

}

.price{

display:flex;

align-items:center;

gap:12px;

margin-bottom:20px;

}

.new-price{

font-size:1.3rem;

font-weight:bold;

}

.old-price{

text-decoration:line-through;

color:#999;

}

.cart-btn{

width:100%;

padding:14px;

border:none;

border-radius:12px;

background:#FF6B00;

color:white;

font-weight:bold;

cursor:pointer;

display:flex;

justify-content:center;

align-items:center;

gap:10px;

transition:.3s;

}

.cart-btn:hover{

background:#111;

}
.favorite.active{
    color: var(--primary-color);
}

.favorite svg{
    transition: .3s;
}

.favorite:hover svg{
    transform: scale(1.15);
}