.breadcrumb{
    display:flex;
    align-items:center;
    flex-wrap:wrap;
    gap:8px;
    margin-bottom:35px;
    padding:14px ;
    font-size:.95rem;
    background-color: white;
    border-radius: 120px;
}

.breadcrumb-item{
    display:flex;
    align-items:center;
    gap:8px;
}

.breadcrumb a{
    color:var(--text-secondary);
    font-weight:500;
    transition:.3s;
}

.breadcrumb a:hover{
    color:var(--primary-color);
}

.breadcrumb .separator{
    color:#c7c7c7;
    font-size:18px;
}

.breadcrumb .active{
    color:var(--text);
    font-weight:700;
}